@use '../custom' as *;
.btn {
  padding: 0.5rem 1rem;
  color: $white;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-transform: capitalize;
  cursor: pointer;

  margin: 0 1rem;
  &.btn-danger {
    background: $btnColor;
  }
  &.btn-light {
    color: $btnColor;
  }
}
